/* stylelint-disable alpha-value-notation */
html {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.15;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  /* stylelint-disable-next-line color-function-notation */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
}

ul,
ol {
  list-style: none;
}

li {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  text-rendering: optimizespeed;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  display: block;
}

button {
  margin: 0;
  border-color: transparent;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  text-transform: none;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}